* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 300px;              /* or any fixed width */
    margin: auto;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 10px;
    text-align: center;
}