* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 50px;
}

.container {
    background: white;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-section {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 20px 0;
}

input {
    width: 60%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#add-task-btn {
    padding: 8px 12px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

#add-task-btn:hover {
    background-color: #218838;
}

#task-list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

#task-list li {
    width: 100%;
    max-width: 310px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    margin: 5px auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#task-list li span {
    max-width: 60%;
    overflow-wrap: break-word;
}

.edit-btn, .delete-btn {
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

.edit-btn {
    background-color: #dc3545;
    padding: 5px;
    color: white;
    border-radius: 4px;
}

.edit-btn:hover {
    background-color: #be313f;
}

.delete-btn {
    background-color: #35b2dc;
    padding: 5px;
    color: white;
    border-radius: 4px;
}

.delete-btn:hover {
    background-color: #288bac;
}

.icon {
    width: 16px;
    filter: invert(1);
}

@media (max-width:600px){

    .btn-text{
        display:none;
    }

    .icon{
        display:block;
    }
}

@media (min-width:601px){

    .btn-text{
        display:flex;
    }

    .icon{
        display:none;
    }
}


